<div class="container">

    <div class="row">
        <div class="col-md-10">
            <app-users></app-users>
            <!-- <button mat-raised-button color="accent"
            routerLink="/user">Users-List</button> <button mat-raised-button
            color="accent">AppSliderImage</button> <button mat-raised-button
            color="accent">HelthTips</button> <button mat-raised-button
            color="accent">MedicineAds</button> -->
        </div>
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>
